body {
  color: #40514E;
  font-family: 'Grandstander', cursive;
  margin: 0;
}

h1 {
  color: #66BFBF;
  font-family: 'Lobster', cursive;
  font-size: 5.625rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 50px;
}

h2 {
  color: #ff4b5c;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Amatic SC', cursive;
}

a {
  color: #11999E;
  font-family: 'Grandstander', cursive;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px 48%;
  width: 4%;
}

p {
  line-height: 2;
}

.best
{
  color: white;
}
.top-section {
  background-color: #EAF6F6;
  background-image: url('https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  display: block;
  padding: 100px;
  position: relative;
  text-align: center;
}

.middle-section {
  padding: 100px 0;
  text-align: center;
}

.bottom-section {
  background-color: #66BFBF;
  margin: auto;
  padding: 50px 0 20px;
  text-align: center;
}

.intro {
  margin: auto;
  width: 30%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  left: 320px;
  position: absolute;
}

.pro {
  text-decoration: underline;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 20px;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.chilli-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.navbar-custom {
    background-color: #43658b;
}
.navbar-brand, .navbar-text {
    color: #ed6663;
}
.cherry
{
  width: 40%;
  height: 40%;
}
#doge
{
  width: 15%;
  height: 15%;
  border-radius: 40px;
}
